@use "../../resources/styles/theme/abstracts/variables" as *;
@use "../../resources/styles/theme/abstracts/mixin" as *;

.block-process {
  .process-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.875rem;

    @include maxWidth($md) {
      grid-template-columns: repeat(2, 1fr);
      gap: 3.125rem;
    }

    @include maxWidth($sm) {
      grid-template-columns: 1fr;
    }
  }

  .process-item {
    position: relative;
    padding: 2.5rem;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 1.25rem;
    transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);

    &:hover {
      transform: translateY(-0.625rem);
      background: #fff;
      box-shadow: 0 0.9375rem 1.875rem rgba(0, 0, 0, 0.08);
      border-color: transparent;

      .process-num {
        color: $primaryColor;
        transform: scale(1.1);
      }
    }
  }

  .process-num {
    font-size: 3.75rem;
    font-weight: $bold;
    color: rgba(0, 0, 0, 0.05);
    margin-bottom: 1.25rem;
    line-height: 1;
    transition: all 0.4s ease;
  }

  .process-step-title {
    font-size: 1.5rem;
    font-weight: $bold;
    margin-bottom: 0.9375rem;
    color: $primaryColor;
  }

  .process-step-desc {
    font-size: 1rem;
    line-height: 1.6;
  }
}

