@use "../../resources/styles/theme/abstracts/variables" as *;
@use "../../resources/styles/theme/abstracts/mixin" as *;

.block-service {
  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.875rem;

    @include maxWidth($md) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include maxWidth($sm) {
      grid-template-columns: 1fr;
    }
  }

  &__item {
    .item__link {
      height: 100%;
      padding: 2.5rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: #fff;
      text-align: center;
      border-radius: 1.25rem;
      transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);

      &:hover {
        box-shadow: 0 0.9375rem 1.875rem rgba(0, 0, 0, 0.08);
      }
    }

    .item__icon {
      margin-bottom: 1.875rem;
      display: block;
      line-height: 1;
      font-weight: $bold;
      color: $primaryColor;

      @include resFont(3.75, 7.5);
    }

    .item__title {
      margin-bottom: 1.25rem;
      font-weight: $semiBold;
      color: $primaryColor;

      @include resFont(1.25, 1.875);
    }

    .item__desc {
      font-size: 1rem;
      font-weight: $regular;
      line-height: 1.5;
      color: $primaryColor;
      text-align: center;
    }
  }

  html[data-theme="dark"] & {
    &__item {
      .item__icon,
      .item__title,
      .item__desc {
        color: $primaryColorDark;
      }

      .item__link:hover {
        box-shadow: 0 0.9375rem 1.875rem rgba(255, 255, 255, 0.25);
      }
    }
  }

  &.editor-view {
    .block-service__item {
      .item__link {
        border: 1px solid $primaryColor;
      }
    }
  }
}

