@use "../../resources/styles/theme/abstracts/variables" as *;
@use "../../resources/styles/theme/abstracts/mixin" as *;

.block-button {
  display: flex;
  width: 100%;

  &.align-left { justify-content: flex-start; text-align: left; }
  &.align-center { justify-content: center; text-align: center; }
  &.align-right { justify-content: flex-end; text-align: right; }

  .btn.is-full-width {
    width: 100%;
  }
}

