:root {
  --color-white: #fff;
  --color-text-light: #ccc;
  --color-text-dark: #333;
  --color-text-grey: #697a8d;
  --color-primary: #6658ea;
  --color-primary-hover: #6658ea;
  --color-danger: #c00;
  --color-success-bg: #ebf7e3;
  --color-menu-bg: #fff;
  --color-menu-shadow: rgba(0, 0, 0, 0.075);
  --color-highlight: #6658ea;
  --color-highlight-hover: #d54e21;
  --color-text-muted: #bbb;
  --color-link-hover: #6658ea;
  --color-link-active: #ffd8d3;
  --color-heading: #666;
  --color-heading-dark: #222
  --color-input-focus-bg: #eaeaea;
  --color-border: #dad9d9;
  --color-bg-editor: #f3f3f3;
  --color-bg-transparent: rgba(0, 0, 0, 0);
  --color-separator: rgba(0, 0, 0, 0.2);
  --color-placeholder: #999;

  --primary-color: #6658ea;
  --primary-color-hover: rgba(67, 89, 113, 0.04);
  --primary-color-blur: #A69EF3;
  --text-color: #566a7f;
  --primary-bg-color: #E6E4FC
}

html.wp-toolbar {
  background: var(--color-white);
  background: 0 0;

  @media only screen and (min-width: 782px) {
    padding-top: 36px;
  }

  @media only screen and (min-width: 961px) {
    padding-top: 61px;
  }
}

.login {
  background: var(--color-white);

  form {
    background: var(--primary-bg-color);
    border-radius: 3px;
    box-shadow: none;
    padding: 26px 24px 30px 24px;

    .forgetmenot {
      margin-top: 10px;
    }

    .submit {
      margin: 10px 0 0 0;
    }
  }

  input[type="checkbox"],
  input[type="password"],
  input[type="text"] {
    border: 1px solid transparent;
    box-shadow: none;
  }
}

.mobile #login {
  .message,
  form,
  #login_error {
    margin: 10px 15px;
  }
}

body {
  background-color: var(--color-white);
}

#wpwrap {
  background: var(--color-white);
  background: 0 0;

  .branch-4-6 &,
  .branch-4-7 &,
  .branch-4-8 &,
  .branch-4-9 & {
    background: var(--color-white);
  }
}

#wpcontent {
  margin-left: 200px;

  @media screen and (max-width: 782px) {
    &,
    .auto-fold & {
      padding-left: 20px;
    }
  }

  .jetpack-pagestyles & {
    margin-left: 200px;
  }
}

.jetpack-pagestyles .modal {
  margin-left: 200px;
  top: 81px;
}

@media screen and (max-width: 782px) {
  .wp-responsive-open #wpbody {
    right: -200px;
  }
}

div.error,
div.updated {
  background: var(--color-success-bg);
}

#wpadminbar {
  background: var(--primary-bg-color);
  color: var(--color-text-light);
  height: 61px;
  left: 200px;
  padding: 0 10px;
  right: 0;
  width: auto;
  z-index: 9998;

  @media screen and (max-width: 960px) {
    height: 36px;
  }

  @media screen and (max-width: 782px) {
    padding: 0;
  }

  .folded & {
    height: 36px;
    left: 36px;
  }

  @media only screen and (max-width: 960px) {
    #wpcontent & {
      left: 200px;
    }
    .auto-fold #wpcontent & {
      left: 36px;
    }
  }

  @media screen and (max-width: 782px) {
    .folded & {
      height: 46px;
      left: 0;
    }
    .auto-fold #wpcontent & {
      left: 0;
    }
  }

  .ab-top-menu > .menupop > .ab-sub-wrapper {
    padding: 6px 0;
  }

  .ab-submenu {
    padding: 0;

    li {
      padding: 0 0;
    }
  }

  .focus-on & {
    transition: transform 0.6s ease-in-out;
    transform: translateY(-100%);
  }

  .focus-off & {
    transform: translateY(0);
    transition: transform 0.2s ease-in-out;
  }

  .ab-top-menu > li.hover > .ab-item,
  .ab-top-menu > li:hover > .ab-item,
  .ab-top-menu > li > .ab-item:focus,
  .menupop .ab-sub-wrapper,
  .quicklinks .menupop ul.ab-sub-secondary,
  .quicklinks .menupop ul.ab-sub-secondary .ab-submenu,
  &.nojq .quicklinks .ab-top-menu > li > .ab-item:focus {
    background: var(--color-text-dark);
  }

  #adminbarsearch:before,
  .ab-icon:before,
  .ab-item:before,
  a.ab-item,
  > #wp-toolbar span.ab-label,
  > #wp-toolbar span.noticon {
    color: var(--color-text-grey);
  }

  li .ab-item:focus:before,
  li a:focus .ab-icon:before,
  li.hover .ab-icon:before,
  li.hover .ab-item:before,
  li:hover #adminbarsearch:before,
  li:hover .ab-icon:before,
  li:hover .ab-item:before,
  > #wp-toolbar a:focus span.ab-label,
  > #wp-toolbar li.hover span.ab-label,
  > #wp-toolbar li:hover span.ab-label {
    color: var(--color-primary);
  }

  .ab-submenu .ab-item,
  .quicklinks .menupop ul li a,
  .quicklinks .menupop ul li a strong,
  .quicklinks .menupop.hover ul li a,
  &.nojs .quicklinks .menupop:hover ul li a {
    color: var(--color-danger);
  }

  .quicklinks .menupop ul li a:focus,
  .quicklinks .menupop ul li a:focus strong,
  .quicklinks .menupop ul li a:hover,
  .quicklinks .menupop ul li a:hover strong,
  .quicklinks .menupop.hover ul li a:focus,
  .quicklinks .menupop.hover ul li a:hover,
  li .ab-item:focus:before,
  li a:focus .ab-icon:before,
  li.hover .ab-icon:before,
  li.hover .ab-item:before,
  li:hover #adminbarsearch:before,
  li:hover .ab-icon:before,
  li:hover .ab-item:before,
  &.nojs .quicklinks .menupop:hover ul li a:focus,
  &.nojs .quicklinks .menupop:hover ul li a:hover {
    color: var(--color-white);
  }
}

.focus-on #post-body-content > h1 {
  opacity: 0;
  transition: opacity 0.6s ease-in-out;
}

.focus-off #post-body-content > h1 {
  opacity: 1;
  transition: opacity 0.6s ease-in-out;
}

#wpcontent {
  #wp-admin-bar-root-default > li > a,
  #wp-admin-bar-root-default > li > button,
  #wp-admin-bar-root-default > li > div,
  #wp-admin-bar-top-secondary > li > a,
  #wp-admin-bar-top-secondary > li > button,
  #wpadminbar #wp-admin-bar-wp-logo > .ab-item {
    padding: 14px 10px 15px 10px;

    .folded & {
      padding: 2px 7px 2px 7px;
    }

    @media screen and (max-width: 960px) {
      padding: 2px 7px 2px 7px;
    }

    @media screen and (max-width: 782px) {
      &,
      .folded & {
        padding: 0;
      }
    }
  }

  #wp-admin-bar-new-content .ab-label,
  #wp-admin-bar-site-name > a.ab-item {
    text-indent: -999em;
  }

  #wpadminbar > #wp-toolbar #wp-admin-bar-new-content .ab-icon {
    text-indent: 0;
    margin-right: 0;
  }
}

.wp-admin #wpcontent #wpadminbar #wp-admin-bar-site-name > .ab-item {
  &:before {
    text-indent: 0;
    margin-right: 0;
  }
  width: 20px;

  @media screen and (max-width: 782px) {
    width: 52px;
  }
}

#adminmenuback {
  background-color: var(--color-menu-bg);
  background-image: linear-gradient(to left, var(--color-menu-shadow) 0, var(--color-bg-transparent) 5%, var(--color-bg-transparent) 100%);
  width: 200px;

  .wp-responsive-open & {
    width: 200px;
  }

  @media only screen and (max-width: 960px) {
      background-image: linear-gradient(to left, var(--color-menu-shadow) 0, var(--color-bg-transparent) 30%, var(--color-bg-transparent) 100%);
  }

  @media screen and (max-width: 782px) {
      background-image: linear-gradient(to left, var(--color-menu-shadow) 0, var(--color-bg-transparent) 5%, var(--color-bg-transparent) 100%);
  }
}

#adminmenuwrap {
  bottom: auto !important;
  position: relative !important;
  top: 0 !important;

  @media only screen and (min-width: 782px) {
    margin-top: -36px;
  }

  @media only screen and (min-width: 961px) {
    margin-top: -61px;
  }

  .sticky-menu & {
    position: fixed !important;
    top: 0 !important;

    @media only screen and (min-width: 782px), only screen and (min-width: 961px) {
      margin-top: 0;
    }
  }

  .wp-responsive-open & {
    position: absolute !important;
  }
}

#adminmenu,
#adminmenuwrap {
  background: 0 0;
  width: 200px;
  z-index: 9999;

  .wp-responsive-open & {
    width: 200px;
  }

  @media only screen and (max-width: 960px) {
    background: 0 0;
  }
}

#adminmenu {
  margin: 12px 0 0 0;

  @media screen and (max-width: 782px) {
    padding-top: 46px;
  }

  .folded & {
    margin: 0;

    .menu-icon-dashboard a.menu-top.menu-top-first {
      height: 35px;
      margin: 0 0 -8px 0;
    }
  }

  @media only screen and (max-width: 960px) {
    .auto-fold & {
      margin: 0;

      .menu-icon-dashboard a.menu-top.menu-top-first {
        height: 35px;
        margin: 0 0 -8px 0;
      }
    }
  }

  @media only screen and (max-width: 782px) {
    .auto-fold & {
      margin: 12px 0 0 0;
      top: 0;

      &.adminLogoPresent {
        padding-top: 0;
        position: relative;
      }

      .menu-icon-dashboard a.menu-top.menu-top-first {
        height: auto;
        margin: 0;
      }
    }
  }

  .wp-has-current-submenu {
    background-color: var(--primary-bg-color);

    &:hover {
      color: var(--primary-color) !important;
    }
  }

  .wp-submenu {
    border-radius: 0 2px 2px 0;
    box-shadow: none;
    padding: 0 0 12px 0;
    width: 200px;
    z-index: 9999;
    background: var(--primary-bg-color);
    left: 200px;

    @media only screen and (max-width: 782px) {
      .wp-responsive-open & {
        background: 0 0;
      }
    }
  }

  .opensub .wp-submenu {
    padding: 8px 0;
  }

  .wp-submenu a {
    font-size: 14px;
    color: var(--color-white);
  }

  .wp-has-current-submenu.opensub.wp-menu-open .wp-submenu,
  .wp-menu-open.opensub .wp-submenu,
  a.wp-has-current-submenu.wp-menu-open:focus + .wp-submenu,
  .no-js li.wp-has-current-submenu.wp-menu-open:hover .wp-submenu {
    background: 0 0;
    padding: 0 0 12px 0;
  }

  .folded.sticky-menu & {
    .wp-has-current-submenu.opensub.wp-menu-open .wp-submenu {
      padding: 7px 0 8px;
    }
  }

  @media only screen and (max-width: 960px) {
    .sticky-menu & {
      .wp-has-current-submenu.opensub.wp-menu-open .wp-submenu,
      .wp-menu-open.opensub .wp-submenu,
      a.wp-has-current-submenu.wp-menu-open:focus + .wp-submenu,
      .no-js li.wp-has-current-submenu.wp-menu-open:hover .wp-submenu {
        background: var(--color-highlight);
        padding: 7px 0 8px;
      }
    }
  }

  @media only screen and (max-width: 782px) {
    .auto-fold & .wp-has-current-submenu .wp-submenu,
    .sticky-menu & {
      .wp-has-current-submenu.opensub.wp-menu-open .wp-submenu,
      .wp-menu-open.opensub .wp-submenu,
      a.wp-has-current-submenu.wp-menu-open:focus + .wp-submenu,
      .no-js li.wp-has-current-submenu.wp-menu-open:hover .wp-submenu {
        background: 0 0 !important;
        padding: 0 0 12px 0;
      }
    }
  }

  a,
  div.wp-menu-image:before {
    color: var(--color-text-grey);
  }

  .wp-submenu a:focus,
  .wp-submenu a:hover,
  a:hover,
  li.menu-top > a:focus,
  
  li.opensub>a.menu-top
  li:hover div.wp-menu-image:before,
  li.opensub div.wp-menu-image:before {
    color: var(--text-color) !important;
  }

  li.opensub a {
    color: var(--primary-color) !important;
  }

  .current div.wp-menu-image:before,
  .wp-has-current-submenu div.wp-menu-image:before,
  a.current:hover div.wp-menu-image:before,
  a.wp-has-current-submenu:hover div.wp-menu-image:before,
  li.current a.menu-top,
  li.wp-has-current-submenu a.wp-has-current-submenu,
  li.wp-has-current-submenu:hover div.wp-menu-image:before {
    color: var(--color-highlight);
  }

  li.current a.menu-top,
  li.wp-has-current-submenu a.wp-has-current-submenu {
    background: 0 0;
    font-weight: 700;
  }

  .wp-has-current-submenu .wp-submenu {
    background: 0 0;
  }

  .folded & li.wp-has-current-submenu a.wp-has-current-submenu {
    background: var(--color-highlight);
  }

  @media only screen and (max-width: 960px) {
    .wp-has-current-submenu.opensub .wp-submenu,
    .auto-fold & li.wp-has-current-submenu a.wp-has-current-submenu {
      background: var(--color-highlight);
    }
  }

  @media only screen and (max-width: 782px) {
    .wp-responsive-open .wp-has-current-submenu.opensub .wp-submenu,
    .auto-fold .wp-responsive-open & li.wp-has-current-submenu a.wp-has-current-submenu {
      background: 0 0;
    }
  }

  .folded & {
    .current div.wp-menu-image:before,
    .wp-has-current-submenu div.wp-menu-image:before,
    a.current:hover div.wp-menu-image:before,
    a.wp-has-current-submenu:hover div.wp-menu-image:before,
    li.wp-has-current-submenu:hover div.wp-menu-image:before {
      color: var(--color-white);
    }
  }

  @media only screen and (max-width: 960px) {
    .auto-fold & {
      .current div.wp-menu-image:before,
      .wp-has-current-submenu div.wp-menu-image:before,
      a.current:hover div.wp-menu-image:before,
      a.wp-has-current-submenu:hover div.wp-menu-image:before,
      li.wp-has-current-submenu:hover div.wp-menu-image:before {
        color: var(--color-white);
      }
    }
  }

  @media only screen and (max-width: 782px) {
    .auto-fold & {
      .current div.wp-menu-image:before,
      .wp-has-current-submenu div.wp-menu-image:before,
      a.current:hover div.wp-menu-image:before,
      a.wp-has-current-submenu:hover div.wp-menu-image:before,
      li.wp-has-current-submenu:hover div.wp-menu-image:before {
        color: var(--color-highlight-hover);
      }
    }
  }

  .wp-has-current-submenu .wp-submenu a,
  .wp-has-current-submenu.opensub .wp-submenu a,
  .wp-submenu a {
    color: var(--primary-color-blur);
  }

  .wp-has-current-submenu .wp-submenu a:hover,
  .wp-has-current-submenu.opensub .wp-submenu a:hover {
    color: var(--primary-color) !important;
  }

  .opensub .wp-submenu li.current a,
  .wp-submenu li.current,
  .wp-submenu li.current a,
  .wp-submenu li.current a:focus,
  .wp-submenu li.current a:hover,
  a.wp-has-current-submenu:focus + .wp-submenu li.current a {
    color: var(--primary-color) !important;
  }

  .opensub .wp-submenu a {
    color: var(--color-white);

    &:hover {
      color: var(--color-link-hover);
    }
  }

  .folded & .wp-has-current-submenu a {
    color: var(--color-link-active);
  }

  .folded.sticky-menu & .wp-has-current-submenu.opensub .wp-submenu a:hover {
     color: var(--color-link-active);
  }

  @media only screen and (max-width: 960px) {
    .sticky-menu & .wp-has-current-submenu.opensub .wp-submenu a {
        &:hover {
             color: var(--color-link-active);
        }
        color: var(--color-white);
    }
  }

  .folded.sticky-menu & .wp-has-current-submenu.opensub .wp-submenu a {
    color: var(--color-white);
  }

  .folded & {
      .opensub .wp-submenu li.current,
      .opensub .wp-submenu li.current a,
      .opensub .wp-submenu li.current a:focus,
      .opensub .wp-submenu li.current a:hover,
      .wp-submenu li.current,
      .wp-submenu li.current a {
        color: var(--color-white);
      }
  }

  @media only screen and (max-width: 960px) {
    &, .sticky-menu & {
        .opensub .wp-submenu li.current,
        .opensub .wp-submenu li.current a,
        .opensub .wp-submenu li.current a:focus,
        .opensub .wp-submenu li.current a:hover,
        .wp-submenu li.current a {
            color: var(--color-white);
        }
    }
  }

  .folded & {
      .wp-has-current-submenu.opensub .wp-submenu,
      .wp-has-current-submenu.opensub .wp-submenu .wp-submenu-head,
      .wp-menu-arrow,
      .wp-menu-arrow div,
      a.wp-has-current-submenu.opensub:focus + .wp-submenu,
      li.current a.menu-top,
      li.current.menu-top,
      li.wp-has-current-submenu,
      li.wp-has-current-submenu a.wp-has-current-submenu {
          background: var(--color-highlight);
          color: var(--color-white);
          font-size: 16px;
      }

      .wp-has-current-submenu.opensub .wp-submenu,
      a.wp-has-current-submenu.opensub:focus + .wp-submenu {
        border-radius: 0 2px 2px 0;
        padding: 7px 0 8px;
      }
  }

  @media only screen and (max-width: 960px) {
      .wp-has-current-submenu .wp-submenu .wp-submenu-head,
      .wp-menu-arrow,
      .wp-menu-arrow div,
      li.current a.menu-top,
      .folded & .wp-has-current-submenu .wp-submenu,
      .folded & .wp-has-current-submenu .wp-submenu .wp-submenu-head,
      .folded & a.wp-has-current-submenu:focus + .wp-submenu,
      .folded & li.current.menu-top,
      .folded & li.wp-has-current-submenu,
      .wp-responsive-open & li.current a.menu-top {
          background: var(--color-highlight);
          color: var(--color-white);
      }
  }

  @media only screen and (max-width: 782px) {
       .wp-has-current-submenu .wp-submenu .wp-submenu-head,
       .wp-menu-arrow,
       .wp-menu-arrow div,
       li.current a.menu-top,
       .folded & .wp-has-current-submenu .wp-submenu,
       .folded & .wp-has-current-submenu .wp-submenu .wp-submenu-head,
       .folded & a.wp-has-current-submenu:focus + .wp-submenu,
       .folded & li.current.menu-top,
       .folded & li.wp-has-current-submenu,
       .wp-responsive-open & li.current a.menu-top {
           background: 0 0;
           color: var(--color-highlight);
       }
  }

  .wp-has-current-submenu.opensub .wp-submenu .wp-submenu-head,
  .wp-submenu .wp-submenu-head,
  .folded & .wp-has-current-submenu .wp-submenu .wp-submenu-head,
  .folded & .wp-submenu .wp-submenu-head {
      color: var(--color-white);
      font-size: 16px;
  }

  li.wp-has-submenu.wp-not-current-submenu.opensub:hover:after {
      border-right-color: var(--color-primary);
  }

}

ul#adminmenu {
  a.wp-has-current-submenu:after,
  > li.current > a.current:after {
    border-right-color: var(--color-white);
  }
}

#adminmenu {
  li.menu-top:hover,
  li.menu-top:hover a,
  li.opensub > a.menu-top,
  li > a.menu-top:focus {
    background: var(--primary-bg-color);
  }

  .awaiting-mod,
  .update-plugins {
    background-color: var(--color-highlight-hover);
    color: var(--color-white);
  }

  div.wp-menu-image {
    float: right;
    margin: 0 11px;
  }

  .folded & div.wp-menu-image {
    float: none;
    margin: 0;
  }

  @media only screen and (max-width: 960px) {
    .auto-fold & div.wp-menu-image {
      float: none;
      margin: 0;
    }
  }

  @media screen and (max-width: 782px) {
    .auto-fold & {
        div.wp-menu-image {
            float: right;
            margin: 0 11px;
            position: relative;
        }

        a.menu-top {
            height: auto;
            padding: 0;
        }
    }
  }

  div.wp-menu-name {
    font-size: 16px;
    padding: 8px 20px;

    @media screen and (max-width: 782px) {
        .auto-fold & {
            font-size: 16px;
            margin-left: 0;
            padding: 8px 20px;
        }
    }
  }

  .wp-has-current-submenu ul > li > a,
  .folded & li.menu-top .wp-submenu > li > a {
    font-size: 14px;
    padding: 4px 21px;
  }

  @media only screen and (max-width: 960px) {
    li.menu-top .wp-submenu > li > a,
    .auto-fold & li.menu-top .wp-submenu > li > a,
    .folded & li.menu-top .wp-submenu > li > a {
        font-size: 14px;
        padding: 4px 21px;
    }
  }

  li.wp-menu-separator {
    border-top: 1px solid var(--color-separator);
    height: 1px;
    margin: 14px auto 15px auto;
  }

  .folded & li.wp-menu-separator {
    margin: 8px auto 9px auto;
  }

  @media only screen and (max-width: 960px) {
    .auto-fold & li.wp-menu-separator {
      margin: 8px auto 9px auto;
    }
  }

  #collapse-menu {
    border-top: 1px solid var(--color-separator);
    margin: 14px auto 15px auto;
    padding: 12px 20px 12px 9px;
    transition-property: color;
  }

  .folded & #collapse-menu {
    padding: 12px 0;
  }

  @media only screen and (max-width: 960px) {
    .auto-fold & #collapse-menu {
      padding: 12px 0;
    }
  }
}

#sidemenu li a span.update-plugins {
    background-color: var(--color-highlight-hover);
    color: var(--color-white);
}

#poststuff {
  padding-top: 0;

  #post-body-content > h1,
  #post-body-content > h2 {
    border-bottom: 1px solid var(--primary-bg-color);
    color: var(--color-heading);
    display: block;
    font-size: 16px;
    font-weight: 400;
    margin: 40px 0 0 0;
    padding: 0 0 4px 0;
  }

  h3 {
    color: var(--color-text-dark);
    font-size: 16px;
    font-weight: 400;

    @media only screen and (max-width: 850px) {
      padding: 8px 0;
    }
  }

  #post-body.columns-2 {
    margin-right: 359px;

    #postbox-container-1 {
      margin-right: -359px;
      width: 299px;
    }

    #side-sortables {
       background: var(--primary-bg-color);
       background-image: linear-gradient(to right, var(--color-menu-shadow) 0, var(--color-bg-transparent) 5%, var(--color-bg-transparent) 100%);
       border: 0 none;
       color: #555;
       padding: 20px 0 0 0;
       width: 299px;

       @media only screen and (max-width: 850px) {
           background: 0 0;
           padding: 0;
           width: auto;
       }
    }
  }
}

#post-body-content {
  margin-bottom: 60px;
}

.wrap {
  .wp-heading-inline {
    color: var(--color-heading);
    display: block;
    font-size: 16px;
    font-weight: 400;
    margin: 40px 0 0 0;
    padding: 0 0 4px 0;
  }

  h2 {
    border-bottom: 1px solid var(--primary-bg-color);
    margin-bottom: 20px;
    padding-bottom: 20px;

    &.nav-tab-wrapper {
        margin-bottom: 0;
        padding-bottom: 0;
    }
  }

  .add-new-h2,
  .add-new-h2:active {
    background: var(--color-input-focus-bg);
    padding: 2px 6px;
    top: -1px;
  }
}

.comment-php #post-body-content > h2 {
  border: 0 none;
  color: var(--color-heading-dark);
  font-size: 23px;
  line-height: 29px;
  padding: 9px 15px 4px 0;
}

.branch-4-6,
.branch-4-7,
.branch-4-8,
.branch-4-9 {
    .col-wrap > h1,
    .wrap > h1,
    .wrap > h2 {
         border-bottom: 1px solid var(--primary-bg-color);
         margin-bottom: 20px;
         padding-bottom: 20px;

         &.nav-tab-wrapper {
             margin-bottom: 0;
             padding-bottom: 0;
         }
    }
}

.branch-4-8, .branch-4-9 {
    .col-wrap > h1,
    .wrap > h1,
    .wrap > h2 {
        display: block;
        margin-bottom: 20px;
    }
}

.branch-4-7, .branch-4-8, .branch-4-9 {
     .wrap > .wp-heading-inline {
         display: block;
     }

     .wrap .wp-heading-inline .page-title-action {
         margin-left: 10px;
     }
}

#titlediv {
  #title-prompt-text {
    color: var(--color-placeholder);
    font-size: 3.5em;
    line-height: 1;
    padding: 12px 0;
  }

  #title {
    border: 0 none;
    box-shadow: none;
    padding: 0;
    font-size: 3.5em;

    &:focus {
      background: var(--color-input-focus-bg);
      padding: 0 10px;
    }
  }
}

#edit-slug-box {
  border: 0 none;
  box-shadow: none;
  padding: 0;
}

input[type="checkbox"],
input[type="color"],
input[type="date"],
input[type="datetime-local"],
input[type="datetime"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="radio"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
select,
textarea {
  &:focus {
    box-shadow: none;
  }
}

#screen-meta {
  margin: 0 0 -1px 0;

  .branch-4-6.edit-tags-php &,
  .branch-4-7.edit-tags-php &,
  .branch-4-8.edit-tags-php &,
  .branch-4-9.edit-tags-php & {
    width: 63%;
  }
}

#screen-meta-links {
  margin: 0 60px 0 0;

  .comment-php &,
  .post-new-php &,
  .post-php & {
    margin: 0;
  }
}

#contextual-help-link-wrap,
#screen-options-link-wrap {
  background: var(--primary-bg-color);
  box-shadow: none;
  border: 0 none;
  border-radius: 0 0 2px 2px;
  height: 28px;
  margin: 0 0 0 6px;
  padding: 0;

  a.show-settings {
    background: var(--primary-bg-color) !important;
    padding: 6px 6px 6px 16px;
  }
}

#contextual-help-wrap,
#screen-options-wrap {
  margin: 0;
  position: relative;
}

.form-table.editcomment td {
  padding: 15px 10px 15px 0;
}

/* Block Editor Styles */
@media only screen and (min-width: 782px) {
  .block-editor__container {
    min-height: calc(100vh - 36px);
  }
  .edit-post-header {
    left: 200px;
    top: 36px;
  }
  body.version-5-1 .edit-post-layout__content {
    margin-left: 200px;
    min-height: calc(100% - 92px);
    top: 92px;

    &.auto-fold,
    &.folded {
        margin-left: 36px;
    }
  }
  .block-editor-editor-skeleton {
    left: 200px;
  }
  .folded .block-editor-editor-skeleton {
    left: 36px;
  }
  .edit-post-sidebar {
    top: 92px;
  }
  .edit-post-layout .editor-post-publish-panel {
    top: 36px;
  }
}

@media only screen and (min-width: 961px) {
  .block-editor__container {
    min-height: calc(100vh - 61px);
  }
  .edit-post-header {
      top: 61px;
  }
  .auto-fold .edit-post-header {
    left: 200px;
  }
  .folded .edit-post-header {
    left: 36px;
  }
  .auto-fold .components-notice-list {
      left: 200px;
  }
  .version-5-9.auto-fold .components-notice-list {
      left: 0;
  }
  body.version-5-1 .edit-post-layout__content {
      margin-left: 200px;
      min-height: calc(100% - 117px);
      top: 117px;

      &.auto-fold {
          margin-left: 200px;
      }
      &.folded {
          margin-left: 36px;
      }
  }
  .block-editor-editor-skeleton {
      top: 61px;
  }
  .auto-fold .block-editor-editor-skeleton {
      left: 200px;
  }
  .folded .block-editor-editor-skeleton {
      top: 32px;
  }
  .edit-post-sidebar {
      top: 117px;
  }
  .edit-post-layout .editor-post-publish-panel {
      top: 61px;
  }
}

@media only screen and (max-width: 600px) {
    .auto-fold .wp-responsive-open .edit-post-header {
        left: 200px;
        margin-left: 0;
    }
}

@media (min-width: 783px) {
  .interface-interface-skeleton {
    left: 200px;
    top: 61px;
  }
  .auto-fold .interface-interface-skeleton {
      left: 36px;
  }
  .folded .interface-interface-skeleton {
      left: 36px;
      top: 32px;
  }
}

@media (min-width: 961px) {
  .auto-fold .interface-interface-skeleton {
      left: 200px;
  }
}

#wp-content-editor-tools,
.wp-editor-expand #wp-content-editor-tools {
  background: var(--color-white);
  border-bottom: 1px solid var(--color-border);
}

.wp-editor-container {
  border-color: var(--color-white) !important;
  box-shadow: none;
}

.wp-switch-editor {
  border: 0 none !important;
  background: var(--color-bg-editor) !important;
  border-radius: 2px 2px 0 0;
  padding: 7px 8px !important;
}

#wp-content-media-buttons {
  padding-bottom: 6px;
}

div.mce-toolbar-grp {
  background: var(--color-white) !important;
  border-bottom: 0 none !important;

  > .mce-container-body {
      padding: 4px 0 8px 0;
  }
}

.mce-toolbar .mce-btn-group .mce-btn.mce-first {
  margin-left: 0 !important;
}

.html-active .switch-html,
.tmce-active .switch-tmce {
  background: var(--color-border) !important;
}

#side-sortablesback,
.comment-php #submitdiv-back {
  background: var(--primary-bg-color);
  background-image: linear-gradient(to right, var(--color-menu-shadow) 0, var(--color-bg-transparent) 5%, var(--color-bg-transparent) 100%);
  bottom: 0;
  position: absolute;
  top: 0;
  width: 299px;
  z-index: -1;

  .branch-4-6 &,
  .branch-4-7 &,
  .branch-4-8 &,
  .branch-4-9 & {
    z-index: 0;
  }

  @media only screen and (max-width: 850px) {
    background: 0 0;
    display: none;
  }
}

.comment-php #submitdiv {
    background: var(--primary-bg-color);
    background-image: linear-gradient(to right, var(--color-menu-shadow) 0, var(--color-bg-transparent) 5%, var(--color-bg-transparent) 100%);
    border: 0 none;
    color: #555;
    padding: 20px;
    position: relative;
    width: 259px;

    @media only screen and (max-width: 850px) {
        background: 0 0;
        padding: 0;
        width: auto;
    }
}

.postbox {
  background: 0 0;
  border: 0 none;
  border-bottom: 1px solid var(--color-border);
  border-bottom: 1px solid var(--color-menu-shadow);
  box-shadow: none;
  padding: 0 20px 20px 20px;

  @media only screen and (max-width: 850px) {
      background: var(--primary-bg-color);
      border: 0 none;
      border-radius: 2px;
      padding: 5px 20px 10px 20px;
  }

  #side-sortables &:last-child {
      border: 0 none;
      padding: 0 20px 0 20px;
  }

  .handlediv {
      width: 23px;
  }

  .hndle {
      border: 0 none;
  }
}

.stuffbox {
  border: 0 none;
  box-shadow: none;

  .hndle {
      border: 0 none;
  }
  .inside {
      padding: 0 0 12px 0;
  }
}

.post-format-icon:before,
.post-state-format:before {
  color: var(--color-text-light);
}

.wp-core-ui {
  .button,
  .button-secondary {
    background: var(--primary-bg-color);
    border-color: var(--primary-bg-color);
    border-radius: 2px;
    box-shadow: none;
    color: #555;
    vertical-align: top;
  }

  .button-primary {
      &.focus,
      &.hover,
      &:focus,
      &:hover {
          box-shadow: none;
          text-shadow: none;
      }
      background: var(--color-primary);
      border-color: var(--color-primary);
      box-shadow: none;
      color: var(--color-white);
      text-decoration: none;
      text-shadow: none;

      &:hover {
          border-color: var(--color-primary-hover);
      }

      &.button-hero {
          box-shadow: none;
      }
  }

  .postbox {
      .button,
      .button-secondary {
          background: var(--color-white);
          border-color: var(--color-white);
          text-shadow: none;

          &:hover {
              border-color: var(--color-placeholder);
          }
      }

      .button-primary {
           background: var(--color-primary);
           border-color: var(--color-primary);
           box-shadow: none;
           color: var(--color-white);
           text-decoration: none;
           text-shadow: none;

           &:hover {
                border-color: var(--color-primary-hover);
           }
      }
  }
}

.comment-php #minor-publishing .button {
    background: var(--color-white);
    border-color: var(--color-white);
    text-shadow: none;

    &:hover {
        border-color: var(--color-placeholder);
    }
}

#major-publishing-actions {
  background: 0 0;
  border: 0 none;

  @media only screen and (max-width: 960px) {
      padding: 5px 0;
  }
}

#minor-publishing-actions {
  padding: 10px;

  @media only screen and (max-width: 960px) {
      padding: 5px 0;
  }
}

.misc-pub-section {
    @media only screen and (max-width: 960px) {
        padding: 6px 0 8px;
    }
}

#normal-sortables {
    .postbox {
        background: var(--primary-bg-color);
        border: 0 none;
        border-radius: 2px;
        padding: 5px 20px 10px 20px;

        .inside {
            padding: 0 0 12px 0;
        }

        .handlediv {
            width: 10px;
        }
    }

    h2, h3 {
        padding: 8px 0;
    }
}

.subsubsub {
  margin: 4px 0 12px 0;

  li {
      color: var(--color-white);
  }
}

.tablenav {
  margin: 8px 0 12px 0;

  .actions {
      padding: 0 8px 0 0;
  }
}

.wp-list-table,
table.comments {
  border-color: transparent !important;
  border-collapse: collapse !important;
  border-spacing: 0 !important;
  border: 0 none !important;
  box-shadow: none !important;

  tfoot th,
  thead th {
      font-size: 14px;
      font-weight: 600;
  }

  tr {
      th {
          border-radius: 3px 0 0 3px;
      }
      td:last-child {
          border-radius: 0 3px 3px 0;
      }
      &:hover {
          background: var(--primary-bg-color) !important;
      }
  }

  .alt,
  .alternate,
  ul.striped > :nth-child(odd),
  &.striped > tbody > :nth-child(odd) {
      background: var(--color-white);
  }
}

.row-title {
  font-size: 16px !important;
  font-weight: 400;
}

.post-state {
  background: var(--color-placeholder);
  border-radius: 2px;
  color: var(--color-white);
  display: inline-block;
  font-size: 12px;
  font-weight: 400;
  margin: -1px 10px 5px 0;
  padding: 1px 5px;
  vertical-align: top;

  .admin-color-fresh & { background: var(--color-text-dark); }
  .admin-color-light & { background: var(--color-text-grey); }
  .admin-color-blue & { background: #4796b3; }
  .admin-color-coffee & { background: #59524c; }
  .admin-color-ectoplasm & { background: #523f6d; }
  .admin-color-midnight & { background: #363b3f; }
  .admin-color-ocean & { background: #627c83; }
  .admin-color-sunrise & { background: #cf4944; }
}

.widefat {
    td, th {
        padding: 12px 10px;
    }
    tbody, tfoot, thead {
        th.check-column {
            padding: 14px 0 0 3px;
        }
    }
}

td.page-title strong,
td.post-title strong {
  display: inline;
}

.row-actions {
  padding: 4px 0 0 0;
}

.edit-tags-php {
    #screen-meta-links {
        margin: 0 35% 0 0;
        padding: 0 60px 0 0;
    }
    .search-form {
        display: inline-block;
        padding: 20px 0;

        @media screen and (max-width: 782px) {
            padding: 0;
        }
    }
    p.search-box {
        float: none;

        @media screen and (max-width: 782px) {
            height: auto;
            margin: 0;
            position: static;
        }
    }

    #col-left {
        background: var(--primary-bg-color);
        background-image: linear-gradient(to right, var(--color-menu-shadow) 0, var(--color-bg-transparent) 5%, var(--color-bg-transparent) 100%);
        color: #555;
        float: right;

        @media only screen and (max-width: 768px) {
            background: 0 0;
            float: none;
            margin-right: 20px;
            width: auto;
        }

        .col-wrap {
            padding: 0 30px;
        }

        h3 {
             font-size: 16px;
             font-weight: 400;

             @media only screen and (max-width: 768px) {
                 padding-top: 20px;
             }
        }
    }

    #col-leftback {
        background: var(--primary-bg-color);
        background-image: linear-gradient(to right, var(--color-menu-shadow) 0, var(--color-bg-transparent) 5%, var(--color-bg-transparent) 100%);
        bottom: 0;
        position: absolute;
        right: 0;
        top: 0;
        width: 35%;
        z-index: -1;

        @media only screen and (max-width: 768px) {
            display: none;
        }

        .branch-4-6 &, .branch-4-7 &, .branch-4-8 &, .branch-4-9 & {
            z-index: 0;
        }
    }

    #col-right {
        float: left;
        h2 {
             margin-right: 60px;
             @media only screen and (max-width: 768px) {
                 margin-right: 20px;
             }
        }
        .col-wrap {
            padding: 0 60px 0 0;
            @media only screen and (max-width: 768px) {
                padding-right: 20px;
            }
        }
        @media only screen and (max-width: 768px) {
             float: none;
             margin: 0;
        }
    }

    .widefat tfoot th.check-column,
    .widefat thead th.check-column {
        padding: 10px 0 0 3px;
    }
}

#col-container {
  overflow: visible;
}

.fixed .column-posts {
  width: 76px;
}

#welcome-panel {
  border: 0 none;
  border-bottom: 1px solid var(--primary-bg-color);
  box-shadow: none;
  margin: 20px 0 30px 0;
  padding: 20px 0 20px 0;
}

.welcome-panel-content {
  margin: 0;

  .branch-4-6 &,
  .branch-4-7 &,
  .branch-4-8 &,
  .branch-4-9 & {
      h2 {
           border-bottom: 0 none;
           margin-bottom: 0;
           padding-bottom: 0;
      }
  }

  h3 {
      color: var(--color-primary);
      font-size: 20px;
      font-weight: 600;
  }
  h4 {
      color: var(--color-text-dark);
      font-size: 16px;
      font-weight: 400;
  }
}

#wpbody-content #dashboard-widgets {
    .postbox-container {
        margin: 0 2% 0 0;
        width: 23%;

        @media only screen and (max-width: 1499px) and (min-width: 800px) {
            margin: 0 5% 0 0;
            width: 47.5%;
        }
        @media only screen and (max-width: 1800px) and (min-width: 1500px) {
            margin: 0 3.3333% 0 0;
            width: 30%;
        }
        @media only screen and (max-width: 799px) {
            width: 100%;
        }
    }

    #postbox-container-4 {
        margin: 0;
        width: 25%;
        @media only screen and (max-width: 1499px) and (min-width: 800px) {
            float: right;
            width: 47.5%;
        }
        @media only screen and (max-width: 1800px) and (min-width: 1500px) {
            margin: 0 3.3333% 0 0;
            width: 30%;
        }
        @media only screen and (max-width: 799px) {
            width: 100%;
        }
    }

    #postbox-container-2, #postbox-container-3 {
        @media only screen and (max-width: 1499px) and (min-width: 800px) {
            float: right;
            margin: 0;
            width: 47.5%;
        }
    }
    #postbox-container-3 {
        @media only screen and (max-width: 1499px) and (min-width: 800px) {
            float: left;
        }
        @media only screen and (max-width: 1800px) and (min-width: 1500px) {
            margin: 0;
        }
    }
}

#dashboard-widgets .meta-box-sortables {
  margin: 0;
}

#dashboard-widgets-wrap {
  margin: 0;
  .postbox {
      margin-bottom: 40px;
      .handlediv {
          width: 23px;
      }
  }
  h3 {
      color: var(--color-text-dark);
      font-size: 16px;
      font-weight: 400;
      padding: 12px 12px;
  }
  #column3-sortables,
  #column4-sortables,
  #column5-sortables,
  #normal-sortables,
  #side-sortables {
      .postbox {
          background: var(--primary-bg-color);
          border: 0 none;
          border-radius: 2px;
          padding: 5px 10px 10px 10px;
      }
  }
}

#dashboard_right_now .main p {
  margin: 10px 0 0 0;
}

.branch-4-6, .branch-4-7, .branch-4-8, .branch-4-9 {
    #dashboard-widgets #normal-sortables {
        .ui-sortable-handle {
            padding: 8px 12px;
        }
        #dashboard_activity .inside {
             padding: 0 12px 12px;
        }
        .inside h3 {
            padding: 0;
        }
    }
}

#wpfooter {
  background: var(--primary-bg-color);
  color: var(--color-placeholder);
  margin-left: 200px;

  a {
      color: var(--color-placeholder);
      text-decoration: underline;

      &:hover {
          color: var(--color-white);
      }
  }
}

.slate-admin-theme {
    .caldera-editor-header {
        top: 71px;
        &.caldera-editor-subnav {
            top: 113px;
        }
    }
    .caldera-config-editor-side-panel {
        top: 201px;
    }
    .caldera-config-editor-main-panel > h3,
    .caldera-editor-body > h3 {
        top: 157px;
    }

    @media only screen and (min-width: 961px) {
        #e-admin-top-bar-root,
        .woocommerce-layout__header {
            width: calc(100% - 200px);
        }
        .woocommerce-layout__header {
            top: 61px;
        }
    }
}
