@use "../../resources/styles/theme/abstracts/variables" as *;
@use "../../resources/styles/theme/abstracts/mixin" as *;

.editor-styles-wrapper,
.block-editor-writing-flow {
  .block-slogan {
    padding: 4rem 0;
    text-align: center;
    font-family: $primaryFont;
    font-weight: $extraBold;
    line-height: 1.4;

    span {
      text-transform: uppercase;
      -webkit-text-fill-color: transparent;
      -webkit-text-stroke: 2px $primaryColor;

      @include maxWidth($md) {
        -webkit-text-stroke: 1px $primaryColor;
      }
    }

    p {
      margin-bottom: 0;
    }

    @include maxWidth($md) {
      padding: 3rem 0;
    }

    @include resFont(3.2, 11);
  }
}

