@use "../../resources/styles/theme/abstracts/variables" as *;
@use "../../resources/styles/theme/abstracts/mixin" as *;

.home {
  .block-slogan {
    margin-top: 10rem;

    @include maxWidth($md) {
      margin-top: 6rem;
    }
  }
}

.block-slogan {
  padding: 10rem 0;
  text-align: center;
  font-family: $primaryFont;
  font-weight: $extraBold;
  line-height: 1.4;

  span {
    text-transform: uppercase;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px $primaryColor;

    @include maxWidth($md) {
      -webkit-text-stroke: 1px $primaryColor;
    }
  }

  p {
    margin-bottom: 0;
  }

  &.editor-view {
    padding: 4rem 0;
  }

  @include maxWidth($md) {
    padding: 6rem 0;
  }

  @include resFont(3.2, 11);
}

