// Admin Column Style
// Styles cho cột custom trong post type list table (thumbnail, featured)
// Tương ứng với AbstractPostType::adminCustomColumnStyle()

.dashicons {
  width: unset !important;
  height: unset !important;
  font-size: 30px;
}

form#posts-filter {
  position: relative;
}

.column-featured_image,
.column-is_feature {
  width: 80px !important;
}

.column-is_feature a {
  padding: 2px;
}

.column-is_feature a.dashicons-yes {
  color: #3a878f;
}

.column-is_feature a.dashicons-no {
  color: #dc665c;
}

.wp-list-table td {
  vertical-align: middle;
}
